# frontend & backend
node_modules/
backend/logs/*
backend/public/*
backend/temp/*

# environment files
.env
.env.local
backend/.env
frontend/.env

# builds
dist/
build/

# logs
npm-debug.log
yarn-error.log

# OS
.DS_Store
