@import "tailwindcss";


html,
body,
#root {
  min-height: 100%;
  background-color: #F8FAFC;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

@keyframes toast-progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}



@keyframes button-progress {
  0% {
    transform: scaleX(0);
  }

  20% {
    transform: scaleX(0.2);
  }

  50% {
    transform: scaleX(0.5);
  }

  80% {
    transform: scaleX(0.8);
  }

  95% {
    transform: scaleX(0.95);
  }

  100% {
    transform: scaleX(1);
  }
}

.animate-button-progress {
  animation: button-progress 2s ease-in-out infinite;
}