@import "tailwindcss";


html,
body,
#root {
  min-height: 100%;
  background-color: #F8FAFC;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

@keyframes toast-progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}